<div class="content">
  <div class="row">
    <div class="col-md-12">
       <alert type="success" dismissible="true" dismissOnTimeout="5000" *ngIf="successMessage">
          {{ successMessage }}
        </alert>
        <alert type="warning" dismissible="true" dismissOnTimeout="5000" *ngIf="serverErrorMessage">
          {{ serverErrorMessage }} </alert>

    </div>
    <div class="col-md-12">
      <alert type="info" dismissible="true" dismissOnTimeout="30000">
        <h5>5 steps to making a successful sell transaction:</h5>
        <ol>
          <li>Select the coin logo you wish to sell and Fill the required information and click on the sell button.</li>
          <li>On the next page, click the name of the coin you wish to sell and follow their instructions to make the
            sale. </li>
          <li>After sending the coin to the coinbase address, wait for the transaction to be verified by coinbase and a
            receipt will be generated.</li>
          <li>Login back to your blockstale account and locate the transaction history on the sell coin page.</li>
          <li>Click on the check status button for the transaction, if the transaction is approved, your payment will be
            initiated.</li>
        </ol>
      </alert>


    </div>
  </div>
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-header bg-primary">
          <h3 class="card-title pull-left w-text">
            Sell Bitcoin
          </h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>Price Rates</h4>
              <div class="table-responsive">
                <table class="table table-borderless">
                  <thead>
                    <tr >
                      <th *ngFor="let rate of bankRate"> {{ rate.coin_type }} </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <td *ngFor="let rate of bankRate"> {{ rate.price_rate_sell| currency:'₦' }}/$ </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- <div *ngFor="let rate of bankRate">
                <span class="pull-left ml-3"> {{ rate.coin_type }} --- {{ rate.price_rate_sell| currency:'₦' }} </span>
              </div> -->
            </div>
          </div>
          <form name="sellBtc" #sellBtc="ngForm" (ngSubmit)="sellBtc.form.valid && onSellBtc(sellBtc)">
            <div class="row">
              <div class="col-md-12">
                <div class="text-center">
                  <h3>Choose crypto</h3>
                  <div class="custom-radio-button mb-15">
                    <div>
                      <input
                      #coinType="ngModel" [(ngModel)]="sellModel.coinType"
                      [ngClass]="{ 'is-invalid': sellBtc.submitted && coinType.invalid }"
                      required coinType
                        type="radio"
                        id="color-red"
                        name="coinType"
                        value="ripple"
                        checked
                      />
                      <label for="color-red">
                        <span> </span>
                      </label>
                    </div>

                    <div>
                      <input
                      #coinType="ngModel" [(ngModel)]="sellModel.coinType"
                      [ngClass]="{ 'is-invalid': sellBtc.submitted && coinType.invalid }"
                      required coinType
                        type="radio"
                        id="color-blue"
                        name="coinType"
                        value="litecoin"
                      />
                      <label for="color-blue">
                        <span> </span>
                      </label>
                    </div>

                    <div>
                      <input
                      #coinType="ngModel" [(ngModel)]="sellModel.coinType"
                      [ngClass]="{ 'is-invalid': sellBtc.submitted && coinType.invalid }"
                      required coinType
                        type="radio"
                        id="color-green"
                        name="coinType"
                        value="etherium"
                      />
                      <label for="color-green">
                        <span> </span>
                      </label>
                    </div>

                    <div>
                      <input
                      #coinType="ngModel" [(ngModel)]="sellModel.coinType"
                      [ngClass]="{ 'is-invalid': sellBtc.submitted && coinType.invalid }"
                      required coinType
                        type="radio"
                        id="color-orange"
                        name="coinType"
                        value="bitcoin"
                      />
                      <label for="color-orange">
                        <span> </span>
                      </label>
                    </div>

                    <div>
                      <input
                      #coinType="ngModel" [(ngModel)]="sellModel.coinType"
                      [ngClass]="{ 'is-invalid': sellBtc.submitted && coinType.invalid }"
                      required coinType
                        type="radio"
                        id="color-pink"
                        name="coinType"
                        value="monero"
                      />
                      <label for="color-pink">
                        <span> </span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="crypto-info-wrap">
                  <div class="">

                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="form-label">Quantity</label>
                        <span class="desc">"Exchanged Qty"</span>
                        <div class="controls">
                          <input
                            type="number"
                            placeholder="0.001"
                            name="btcAmount" class="form-control" (change)="fetchNgn(btcAmount, coinType)"
                          placeholder="Enter Amount of BTC you want to sell" required #amountBtc="ngModel"
                          [(ngModel)]="sellModel.btcAmount"
                          [ngClass]="{ 'is-invalid': sellBtc.submitted && btcAmount.invalid }" required btcAmount
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="form-group">
                        <label class="form-label">.</label>
                        <div class="controls">
                          <img
                            src="assets/data/crypto-dash/exchange-arrows.png"
                            class="ml-4 mt-5 center-block"
                            style="width: 25px;"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="form-label">NGN Currency</label>
                        <!-- <span class="desc">minimum "100 USD"</span> -->
                        <div class="controls">
                          <input
                            type="number"
                            class="form-control"
                            placeholder="NGN Equivalent"
                            [value]="someInfo | currency"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email"
                      class="form-control"
                      name="email"
                      placeholder="Enter Email"
                      #email="ngModel" [(ngModel)]="sellModel.email"
                      [ngClass]="{ 'is-invalid': sellBtc.submitted && email.invalid }"
                      required email>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <button
                      type="submit"
                      class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom"
                      style="width: 100%;"
                    >
                      Sell Bitcoin
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-5">
      <section class="card">
        <header class="card-header bg-primary">
          <h3 class="card-title  w-text">Cryptocurrency Status</h3>
        </header>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="coin-box2 flex align-items-center">
                <div class="coin-icon mr-10">
                  <img src="assets/data/crypto-dash/coin1.png" alt="" />
                </div>

                <h6 class="coin-name boldy">Bitcoin</h6>
                <h6 class="coin-price boldy">
                  {{ btcData.PRICE | currency: "₦ " }}
                </h6>
                <p class="mb-0" [class]="changepositive">
                {{ btcData.CHANGEPCTHOUR | number:'2.1-2' }}%
                  <i class="ml-10" [class]="iconClass"></i>
                </p>
              </div>
              <div class="coin-box2 flex align-items-center">
                <div class="coin-icon mr-10">
                  <img src="assets/data/crypto-dash/coin2.png" alt="" />
                </div>

                <h6 class="coin-name boldy">Ethereum</h6>
                <h6 class="coin-price boldy">
                  {{ ethData.PRICE | currency: "₦ " }}
                </h6>
                <p class="mb-0 red-text" [class]="ethColor">
                {{ ethData.CHANGEPCTHOUR| number:'2.1-2'  }}%
                  <i class="ml-10" [class]="ethIcon"></i>
                </p>
              </div>
              <div class="coin-box2 flex align-items-center">
                <div class="coin-icon mr-10">
                  <img src="assets/data/crypto-dash/coin8.png" alt="" />
                </div>

                <h6 class="coin-name boldy">Litecoin</h6>
                <h6 class="coin-price boldy">
                  {{ ltcData.PRICE | currency: "₦ " }}
                </h6>
                <p class="mb-0 red-text" [class]="ltcColor">
                {{ ltcData.CHANGEPCTHOUR | number:'2.1-2'  }}%
                  <i class="ml-10" [class]="ltcIcon"></i>
                </p>
              </div>

              <div class="coin-box2 flex align-items-center">
                <div class="coin-icon mr-10">
                  <img src="assets/data/crypto-dash/coin7.png" alt="" />
                </div>

                <h6 class="coin-name boldy">Monero</h6>
                <h6 class="coin-price boldy">
                  {{ xmrData.PRICE | currency: "₦ " }}
                </h6>
                <p class="mb-0 red-text" [class]="xmrColor">
                {{ xmrData.CHANGEPCTHOUR | number:'2.1-2'  }}%
                  <i class="ml-10" [class]="xmrIcon"></i>
                </p>
              </div>


              <div class="coin-box2 flex align-items-center">
                <div class="coin-icon mr-10">
                  <img src="assets/data/crypto-dash/coin4.png" alt="" />
                </div>

                <h6 class="coin-name boldy">Ripple</h6>
                <h6 class="coin-price boldy">
                  {{ xrpData.PRICE | currency: "₦ " }}
                </h6>
                <p class="mb-0 red-text" [class]="xrpColor">
                {{ xrpData.CHANGEPCTHOUR | number:'2.1-2'  }}%
                  <i class="ml-10" [class]="xrpIcon"></i>
                </p>
              </div>

            </div>
          </div>
          <!-- End .row -->
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section class="card">
        <header class="card-header">
          <h2 class="card-title">Activities History</h2>
        </header>
        <div class="card-body">
          <div class="table-responsive" data-pattern="priority-columns">
            <table
              id="tech-companies-1"
              class="table vm trans table-small-font no-mb table-bordered table-striped"
            >
              <thead>
                <tr>
                  <th>S/N</th>
                  <!-- <th>Crypto Trade</th> -->
                  <!-- <th>Sender ID</th> -->
                  <th>Transaction ID</th>

                  <th>AMOUNT <i class="fa fa-bitcoin"></i>	</th>
                  <th>AMOUNT (₦) </th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let history of sellHistories; let i = index">
                      <td> {{i + 1}} </td>
                      <!-- <td> {{ history.payee }} </td> -->
                      <td> {{ history.reference_no }} </td>
                      <td> {{history.amount_btc}} </td>
                      <td> {{history.amount_ngn}} </td>
                      <td> {{history.date_of_transaction | date: 'mediumDate'}} </td>
                      <td> {{history.transaction_status}} </td>
                      <td> <button class="btn btn-sm  btn-primary" (click)="checkStatus(history._id)"> Check Status</button></td>

                      <!-- <td> {{history.date_of_transaction | date: 'mediumDate'}} </td> -->
                    </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
