<div class="content">
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-header bg-primary">
          <h3 class="card-title pull-left w-text">
            Sell Bitcoin
          </h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="text-center">
                <h3>Choose crypto</h3>
                <div class="custom-radio-button mb-15">
                  <div>
                    <input
                      type="radio"
                      id="color-red"
                      name="color"
                      value="color-red"
                      checked
                    />
                    <label for="color-red">
                      <span> </span>
                    </label>
                  </div>

                  <div>
                    <input
                      type="radio"
                      id="color-blue"
                      name="color"
                      value="color-blue"
                    />
                    <label for="color-blue">
                      <span> </span>
                    </label>
                  </div>

                  <div>
                    <input
                      type="radio"
                      id="color-green"
                      name="color"
                      value="color-green"
                    />
                    <label for="color-green">
                      <span> </span>
                    </label>
                  </div>

                  <div>
                    <input
                      type="radio"
                      id="color-orange"
                      name="color"
                      value="color-orange"
                    />
                    <label for="color-orange">
                      <span> </span>
                    </label>
                  </div>

                  <div>
                    <input
                      type="radio"
                      id="color-pink"
                      name="color"
                      value="color-pink"
                    />
                    <label for="color-pink">
                      <span> </span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="crypto-info-wrap">
                <div class="">
                  <!-- <div class="form-group">
                    <label class="form-label">Wallet Address</label>
                    <span class="desc"></span>

                    <div class="input-group mb-10">
                      <span class="input-group-addon">
                        <span class="arrow"></span>
                        <img
                          src="assets/data/crypto-dash/icons/2.png"
                          alt="icon"
                        />
                      </span>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="NNK;Djkhsal0q0ksnq-wnkknkwxbkja"
                      />
                    </div>
                  </div> -->
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form-label">BTC Equivalent</label>
                      <span class="desc">"Exchanged BTC"</span>
                      <div class="controls">
                        <input
                          type="number"
                          class="form-control"
                          placeholder="0.001"
                          id="field-1"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label class="form-label">.</label>
                      <div class="controls">
                        <img
                          src="assets/data/crypto-dash/exchange-arrows.png"
                          class="ml-4 mt-5 center-block"
                          style="width: 25px;"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label class="form-label">NGN Currency</label>
                      <!-- <span class="desc">minimum "100 USD"</span> -->
                      <div class="controls">
                        <input
                          type="number"
                          class="form-control"
                          placeholder="100"
                          id="field-1"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <button
                    type="button"
                    class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom"
                    style="width: 100%;"
                  >
                    Sell Bitcoin
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-5">
      <section class="card">
        <header class="card-header bg-primary">
          <h3 class="card-title  w-text">Cryptocurrency Status</h3>
        </header>
        <div class="card-body">
          <div class="row">
            <!-- <div class="col-sm-12">
              <div class="coin-box2 flex align-items-center">
                <div class="coin-icon mr-10">
                  <img src="assets/data/crypto-dash/coin1.png" alt="" />
                </div>

                <h5 class="coin-name boldy">Bitcoin</h5>
                <h5 class="coin-price boldy">
                  {{ btcData.PRICE | currency: "₦ " }}
                </h5>
                <p class="mb-0" [class]="changepositive">
                {{ btcData.CHANGEPCTHOUR | number:'2.1-2' }}%
                  <i class="ml-10" [class]="iconClass"></i>
                </p>
              </div>
              <div class="coin-box2 flex align-items-center">
                <div class="coin-icon mr-10">
                  <img src="assets/data/crypto-dash/coin2.png" alt="" />
                </div>

                <h5 class="coin-name boldy">Ethereum</h5>
                <h5 class="coin-price boldy">
                  {{ ethData.PRICE | currency: "₦ " }}
                </h5>
                <p class="mb-0 red-text" [class]="ethColor">
                {{ ethData.CHANGEPCTHOUR| number:'2.1-2'  }}%
                  <i class="ml-10" [class]="ethIcon"></i>
                </p>
              </div>
              <div class="coin-box2 flex align-items-center">
                <div class="coin-icon mr-10">
                  <img src="assets/data/crypto-dash/coin8.png" alt="" />
                </div>

                <h5 class="coin-name boldy">Litecoin</h5>
                <h5 class="coin-price boldy">
                  {{ ltcData.PRICE | currency: "₦ " }}
                </h5>
                <p class="mb-0 red-text" [class]="ltcColor">
                {{ ltcData.CHANGEPCTHOUR | number:'2.1-2'  }}%
                  <i class="ml-10" [class]="ltcIcon"></i>
                </p>
              </div>
              <div class="coin-box2 flex align-items-center">
                <div class="coin-icon mr-10">
                  <img src="assets/data/crypto-dash/coin6.png" alt="" />
                </div>

                <h5 class="coin-name boldy">Dogecoin</h5>
                <h5 class="coin-price boldy">$0.0846</h5>
                <p class="mb-0 green-text">
                  2.05%<i class="complete fa fa-arrow-up ml-10"></i>
                </p>
              </div>
              <div class="coin-box2 mb-0 flex align-items-center">
                <div class="coin-icon mr-10">
                  <img src="assets/data/crypto-dash/coin7.png" alt="" />
                </div>

                <h5 class="coin-name boldy">Monero</h5>
                <h5 class="coin-price boldy">$475.048</h5>
                <p class="mb-0 green-text">
                  2.05%<i class="complete fa fa-arrow-up ml-10"></i>
                </p>
              </div>
            </div> -->
          </div>
          <!-- End .row -->
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section class="card">
        <header class="card-header">
          <h2 class="card-title">Activities History</h2>
        </header>
        <div class="card-body">
          <div class="table-responsive" data-pattern="priority-columns">
            <table
              id="tech-companies-1"
              class="table vm trans table-small-font no-mb table-bordered table-striped"
            >
              <thead>
                <tr>
                  <th>Crypto Trade</th>
                  <th>Sender ID</th>
                  <th>Transaction ID</th>
                  <th>Time</th>
                  <th>Status</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="round img2">
                      <img src="../../../assets/data/crypto-dash/coin1.png" alt="" />
                    </div>
                    <div class="designer-info">
                      <h6>Bitcoin</h6>
                    </div>
                  </td>
                  <td><small class="text-muted">gdh-34um3bbj</small></td>
                  <td><small class="text-muted">HJD9R034JNN3N43</small></td>
                  <td><small class="text-muted">10:23:45</small></td>
                  <td>
                    <span class="badge w-70 round-success">completed</span>
                  </td>
                  <td class="green-text boldy">+0,041BTC</td>
                </tr>
                <tr>
                  <td>
                    <div class="round img2">
                      <img src="../../../assets/data/crypto-dash/coin8.png" alt="" />
                    </div>
                    <div class="designer-info">
                      <h6>Litecoin</h6>
                    </div>
                  </td>
                  <td><small class="text-muted">gdh-34um3bbj</small></td>
                  <td><small class="text-muted">HJD9R034JNN3N43</small></td>
                  <td><small class="text-muted">12:53:25</small></td>
                  <td><span class="badge w-70 round-warning">Pending</span></td>
                  <td class="red-text boldy">-1,176LTC</td>
                </tr>
                <tr>
                  <td>
                    <div class="round img2">
                      <img src="../../../assets/data/crypto-dash/coin2.png" alt="" />
                    </div>
                    <div class="designer-info">
                      <h6>Ethereum</h6>
                    </div>
                  </td>
                  <td><small class="text-muted">gdh-34um3bbj</small></td>
                  <td><small class="text-muted">HJD9R034JNN3N43</small></td>
                  <td><small class="text-muted">04:03:25</small></td>
                  <td>
                    <span class="badge w-70 round-primary">exchanged </span>
                  </td>
                  <td class="blue-text boldy">0.023ETH</td>
                </tr>
                <tr>
                  <td>
                    <div class="round img2">
                      <img src="../../../assets/data/crypto-dash/coin4.png" alt="" />
                    </div>
                    <div class="designer-info">
                      <h6>Ripple</h6>
                    </div>
                  </td>
                  <td><small class="text-muted">gdh-34um3bbj</small></td>
                  <td><small class="text-muted">HJD9R034JNN3N43</small></td>
                  <td><small class="text-muted"> 09:33:02</small></td>
                  <td><span class="badge w-70 round-danger">Canceled</span></td>
                  <td class="green-text boldy">+107,0XRP</td>
                </tr>
                <tr>
                  <td>
                    <div class="round img2">
                      <img src="../../../assets/data/crypto-dash/coin1.png" alt="" />
                    </div>
                    <div class="designer-info">
                      <h6>Bitcoin</h6>
                    </div>
                  </td>
                  <td><small class="text-muted">gdh-34um3bbj</small></td>
                  <td><small class="text-muted">HJD9R034JNN3N43</small></td>
                  <td><small class="text-muted">10:23:45</small></td>
                  <td><span class="badge w-70 round-warning">pending</span></td>
                  <td class="green-text boldy">-0,098BTC</td>
                </tr>
                <tr>
                  <td>
                    <div class="round img2">
                      <img src="../../../assets/data/crypto-dash/coin3.png" alt="" />
                    </div>
                    <div class="designer-info">
                      <h6>Dashcoin</h6>
                    </div>
                  </td>
                  <td><small class="text-muted">gdh-34um3bbj</small></td>
                  <td><small class="text-muted">HJD9R034JNN3N43</small></td>
                  <td><small class="text-muted">09:33:02</small></td>
                  <td>
                    <span class="badge w-70 round-success">Completed</span>
                  </td>
                  <td class="red-text boldy">-2,76DAH</td>
                </tr>
                <tr>
                  <td>
                    <div class="round img2">
                      <img src="../../../assets/data/crypto-dash/coin5.png" alt="" />
                    </div>
                    <div class="designer-info">
                      <h6>Bitdash</h6>
                    </div>
                  </td>
                  <td><small class="text-muted">gdh-34um3bbj</small></td>
                  <td><small class="text-muted">HJD9R034JNN3N43</small></td>
                  <td><small class="text-muted">09:33:02</small></td>
                  <td>
                    <span class="badge w-70 round-success">Completed</span>
                  </td>
                  <td class="green-text boldy">+1,429DAH</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
