
<div class="page-sidebar fixedscroll">

  <!-- MAIN MENU - START -->
  <div class="page-sidebar-wrapper crypto" id="main-menu-wrapper">
    <ul class='wraplist'>
      <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{ menuItem.class }} nav-item">
        <a [routerLink]="[menuItem.path]">
          <i class="img">
            <img [src]=" menuItem.icon" alt="" class="ic1 width-20">
          </i>
          <span class="title">{{ menuItem.title }}</span>
        </a>
      </li>
    </ul>

  </div>
  <!-- MAIN MENU - END -->

</div>
