<div class="content">
  <div class="row">

  </div>
  <div class="row mt-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Wallet Balance</h4>
        </div>
        <div class="card-body">
          <h4> {{ wallet.walletBalance  | currency : 'NGN'}} </h4>
          <div>
            <button class="btn btn-primary" (click)="onFund()">Fund Wallet</button>
            <button class="btn btn-info" (click)="onWithdraw()">Witdraw From Wallet</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 " *ngIf="fund">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Fund Wallet</h4>
        </div>
        <div class="card-body">
          <form name="fundWallet" #fundWallet="ngForm" (ngSubmit)="fundWallet.form.valid && OnFundWallet(fundWallet)">
            <div class="controls">
              <label>Email</label>
              <input type="email" name="email" class="form-control"
              placeholder="Enter email" required
              #email="ngModel" [(ngModel)]="walletModel.email"
              [ngClass]="{ 'is-invalid': fundWallet.submitted && email.invalid }"  email>
            </div>

            <div class="controls">
              <label>Amount</label>
              <input type="number" name="amount" class="form-control"
              #amount="ngModel" [(ngModel)]="walletModel.amount"
              [ngClass]="{ 'is-invalid': fundWallet.submitted && amount.invalid }" required amount>
            </div>
            <input type="submit" class="btn btn-primary btn-block" [disabled]="!fundWallet.valid" value="Fund Wallet">
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="withdraw">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Witdraw from Wallet</h4>
        </div>
        <div class="card-body">
          <form name="witdrawWallet" #witdrawWallet="ngForm" (ngSubmit)="witdrawWallet.form.valid && witdrawFromWallet(witdrawWallet)">
            <div class="controls">
              <label>Amount</label>
              <input type="number" name="amountGotten" class="form-control"
              #amountGotten="ngModel" [(ngModel)]="walletModel.amountGotten"
              [ngClass]="{ 'is-invalid': witdrawWallet.submitted && amountGotten.invalid }" required amountGotten>
            </div>
            <input type="submit" class="btn btn-primary btn-block" [disabled]="!witdrawWallet.valid" value="Witdraw from Wallet">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
