<div class="content">
  <div class="row">
    <div class="col-md-12">
      <alert type="success" dismissible="true" dismissOnTimeout="5000" *ngIf="successMessage">
        {{ successMessage }}
      </alert>
      <alert type="danger" dismissible="true" dismissOnTimeout="5000" *ngIf="serverErrorMessage">
        {{ serverErrorMessage }}
      </alert>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-primary">
          <h4 class="card-title w-text">Payment Mode</h4>
        </div>
        <div class="card-body row">
          <div class="col-md-6 payment-list">
            <div
              class="crpto-currency-box"
              [class.active]="payWithCard"
              (click)="onPayWithCard()"
            >
              <i class="fa fa-credit-card text-primary"></i>
              <div>
                <p style="font-size: 0.8em;" class="m-0 p-0">Pay with</p>
                <h4 class="boldy">Card</h4>
              </div>
              <span class="checky-box"></span>
            </div>
          </div>
          <div class="col-md-6 payment-list">
            <div
              class="crpto-currency-box"
              [class.active]="payWithWallet"
              (click)="onPayWithWallet()"
            >
              <i class="fa fa-wallet text-primary"></i>
              <div>
                <p style="font-size: 0.8em;" class="m-0 p-0">Pay with</p>
                <h4 class="boldy">Wallet</h4>
              </div>

              <span class="checky-box"></span>
            </div>
          </div>
        </div>
        <div class="card-footer bg-secondary text-center">
          <h5 style="margin-left: auto; margin-right: auto;">
            Wallet Ballance: {{ wallets.walletBalance  | currency : 'NGN'}}
          </h5>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <ng-container *ngIf="payWithCard; then card; else wallet"></ng-container>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section class="card">
        <header class="card-header">
          <h2 class="card-title">Activities History</h2>
        </header>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive" data-pattern="priority-columns">
                <table
                  id="tech-companies-1"
                  class="table vm trans table-small-font no-mb table-bordered table-striped"
                >
                  <thead>
                    <tr>
                      <th>SN</th>
                      <th>Amount (₦)</th>
                      <th>Amount (<i class="fa fa-bitcoin"></i>)</th>
                      <th>Payment Status</th>
                      <th>Reference No</th>
                      <th>Wallet Address</th>
                      <th>Transfer Status</th>
                      <th>Date Paid</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let history of buyHistories; let i = index">
                      <td> {{i + 1}} </td>
                      <td> {{history.amount_ngn}} </td>
                      <td> {{history.amount_btc}} </td>
                      <td> {{history.payment_status}} </td>
                      <td> {{history.reference_no}} </td>
                      <td> {{history.wallet_address}} </td>
                      <td> {{history.coin_transfer_status}} </td>
                      <td> {{history.date_paid}} </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<ng-template #wallet>
  <div class="card">
    <div class="card-header bg-primary">
      <h4 class="card-title pull-left w-text">Purchase Bitcoin from Wallet</h4>

    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <p>Current BTC Purchase Rate is: {{ buyRate | currency:'₦' }}/&#36; </p>
          <!-- <div class="text-center">
            <h4>Choose crypto</h4>
            <div class="custom-radio-button">
              <div>
                <input
                  type="radio"
                  id="color-red"
                  name="color"
                  value="color-red"
                  checked
                />
                <label for="color-red">
                  <span> </span>
                </label>
              </div>

              <div>
                <input
                  type="radio"
                  id="color-blue"
                  name="color"
                  value="color-blue"
                />
                <label for="color-blue">
                  <span> </span>
                </label>
              </div>

              <div>
                <input
                  type="radio"
                  id="color-green"
                  name="color"
                  value="color-green"
                />
                <label for="color-green">
                  <span> </span>
                </label>
              </div>

              <div>
                <input
                  type="radio"
                  id="color-orange"
                  name="color"
                  value="color-orange"
                />
                <label for="color-orange">
                  <span> </span>
                </label>
              </div>

              <div>
                <input
                  type="radio"
                  id="color-pink"
                  name="color"
                  value="color-pink"
                />
                <label for="color-pink">
                  <span> </span>
                </label>
              </div>
            </div>
          </div> -->
          <form name="buyBtc" class="" #buyBtc="ngForm" (ngSubmit)="buyBtc.form.valid && OnBuyBtc(buyBtc)">
            <div class="crypto-info-wrap">
              <div class="">
                <div class="form-group">
                  <label class="form-label">Wallet Address</label>
                  <span class="desc"></span>

                  <div class="input-group mb-10">
                    <span class="input-group-addon">
                      <span class="arrow"></span>
                      <img src="assets/data/crypto-dash/icons/2.png" alt="icon" />
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="NNK;Djkhsal0q0ksnq-wnkknkwxbkja"
                      required #walletAddress="ngModel" name="walletAddress"
                          [(ngModel)]="buyModel.walletAddress"
                          [ngClass]="{ 'is-invalid': buyBtc.submitted && walletAddress.invalid }" required
                          walletAddress
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="form-label">NGN Currency</label>
                    <!-- <span class="desc">minimum "100 USD"</span> -->
                    <div class="controls">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="100" name="amount"
                        (change)="fetchBtc(amount)"
                          placeholder="Enter buy rate" required #amount="ngModel" [(ngModel)]="buyModel.amount"
                          [ngClass]="{ 'is-invalid': buyBtc.submitted && amount.invalid }" required amount
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="form-label">.</label>
                    <div class="controls">
                      <img
                        src="assets/data/crypto-dash/exchange-arrows.png"
                        class="ml-4 mt-5 center-block"
                        style="width: 25px;"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="form-label">BTC Equivalent</label>
                    <span class="desc">"Exchanged BTC"</span>
                    <div class="controls">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="0.001"
                        [value]="someInfo"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label >Email</label>
                <input
                  type="email"
                  placeholder="example@123.com"
                  name="email" class="form-control" placeholder="Enter email" required
                  #email="ngModel" [(ngModel)]="buyModel.email"
                  [ngClass]="{ 'is-invalid': buyBtc.submitted && email.invalid }" required email
                />
              </div>

              <div class="col-md-12">
                <button
                  type="submit"
                  class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom"
                  style="width: 100%;"
                >
                  Buy Bitcoin
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #card>
  <div class="card">
    <div class="card-header bg-primary">
      <h4 class="card-title pull-left w-text">Trade Cryptocurrency</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <p>Current BTC Purchase Rate is: {{ buyRate | currency:'₦' }}/&#36; </p>
          <!-- <div class="text-center">
            <h4>Choose crypto</h4>
            <div class="custom-radio-button">
              <div>
                <input
                  type="radio"
                  id="color-red"
                  name="color"
                  value="color-red"
                  checked
                />
                <label for="color-red">
                  <span> </span>
                </label>
              </div>

              <div>
                <input
                  type="radio"
                  id="color-blue"
                  name="color"
                  value="color-blue"
                />
                <label for="color-blue">
                  <span> </span>
                </label>
              </div>

              <div>
                <input
                  type="radio"
                  id="color-green"
                  name="color"
                  value="color-green"
                />
                <label for="color-green">
                  <span> </span>
                </label>
              </div>

              <div>
                <input
                  type="radio"
                  id="color-orange"
                  name="color"
                  value="color-orange"
                />
                <label for="color-orange">
                  <span> </span>
                </label>
              </div>

              <div>
                <input
                  type="radio"
                  id="color-pink"
                  name="color"
                  value="color-pink"
                />
                <label for="color-pink">
                  <span> </span>
                </label>
              </div>
            </div>
          </div> -->
         <form name="buyBtc2" class="" #buyBtc2="ngForm" (ngSubmit)="buyBtc2.form.valid && OnBuyBtc2(buyBtc2)">
            <div class="crypto-info-wrap">
              <div class="">
                <div class="form-group">
                  <label class="form-label">Wallet Address</label>
                  <span class="desc"></span>

                  <div class="input-group mb-10">
                    <span class="input-group-addon">
                      <span class="arrow"></span>
                      <img src="assets/data/crypto-dash/icons/2.png" alt="icon" />
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="NNK;Djkhsal0q0ksnq-wnkknkwxbkja"
                      required #walletAddress="ngModel" name="walletAddress"
                          [(ngModel)]="buyModel.walletAddress"
                          [ngClass]="{ 'is-invalid': buyBtc2.submitted && walletAddress.invalid }" required
                          walletAddress
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="form-label">NGN Currency</label>
                    <!-- <span class="desc">minimum "100 USD"</span> -->
                    <div class="controls">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="100" name="amount"
                        (change)="fetchBtc(amount)"
                          placeholder="Enter buy rate" required #amount="ngModel" [(ngModel)]="buyModel.amount"
                          [ngClass]="{ 'is-invalid': buyBtc2.submitted && amount.invalid }" required amount
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-group">
                    <label class="form-label">.</label>
                    <div class="controls">
                      <img
                        src="assets/data/crypto-dash/exchange-arrows.png"
                        class="ml-4 mt-5 center-block"
                        style="width: 25px;"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-group">
                    <label class="form-label">BTC Equivalent</label>
                    <span class="desc">"Exchanged BTC"</span>
                    <div class="controls">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="0.001"
                        [value]="someInfo"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label >Email</label>
                <input
                  type="email"
                  placeholder="example@123.com"
                  name="email" class="form-control" placeholder="Enter email" required
                  #email="ngModel" [(ngModel)]="buyModel.email"
                  [ngClass]="{ 'is-invalid': buyBtc2.submitted && email.invalid }" required email
                />
              </div>

              <div class="col-md-12">
                <button
                  type="submit"
                  class="btn btn-primary btn-lg mt-20 has-gradient-to-right-bottom"
                  style="width: 100%;"
                >
                  Buy Bitcoin
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
