<nav class=" navbar navbar-expand-lg navbar-absolute navbar-dark purple lighten-1">

  <div class=" container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class=" navbar-toggler-bar navbar-kebab"> </span>
      <span class=" navbar-toggler-bar navbar-kebab"> </span>
      <span class=" navbar-toggler-bar navbar-kebab"> </span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a href="#home" role="tab" data-toggle="tab">
                Members
            </a>
            </li>

            <li class="nav-item">
              <a href="#rates" role="tab" data-toggle="tab">
                 Rates
            </a>
            </li>
            <li class="nav-item">
              <a href="#history" role="tab" data-toggle="tab">
                 History
            </a>
            </li>

            <li class="nav-item">
            <a href="#support" role="tab" data-toggle="tab">
                Support
            </a>
        </li>
        <li class="nav-item">
            <a href="#bank" role="tab" data-toggle="tab">
                 Bank
            </a>
        </li>

        <li class="nav-link">
            <a class=" nav-item" href="#admin" role="tab" data-toggle="tab">
               Admin
            </a>
        </li>
        <li class="nav-link">
            <a class=" nav-item" href="#witdraw" role="tab" data-toggle="tab">
               Withdrawal History
            </a>
        </li>
        <li class="nav-link">
            <a class=" nav-item" href="#payout" role="tab" data-toggle="tab">
               Payout History
            </a>
        </li>
        <!-- <li class=" nav-item">
              <a class=" nav-item" (click)="logout()" href="javascript:void(0)">
                Log out
              </a>
            </li> -->


        <div class=" float-right" >
         <li class=" nav-item float-right">
              <a class=" nav-item" (click)="logout()" href="javascript:void(0)" ngbDropdownItem>
                Log out
              </a>
            </li>
        </div>


        </ul>

    </div>
  </div>

</nav>




